<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ict.interviewdotboot.mapper.InterviewMapper">
    <select id="getQuestionList"  resultType="InterviewVO">
        SELECT q_idx,question FROM Question_list WHERE category = #{category}
    </select>

    <insert id="insertTable" parameterType="InterviewVO" useGeneratedKeys="true" keyProperty="r_idx">
        INSERT INTO Interview_t(id, interview_date)
        VALUES (#{id}, NOW());

        <selectKey keyProperty="r_idx" resultType="InterviewVO" order="AFTER">
            SELECT LAST_INSERT_ID() AS r_idx
        </selectKey>
    </insert>

    <insert id="insertResult" parameterType="InterviewVO">
        INSERT INTO Interview_re(r_idx, q_idx, id,video_uuid, text, pose_results, sentiment,campus,intention,feedback)
        VALUES (#{r_idx}, #{q_idx}, #{id},#{video_uuid},#{text},#{pose_results}, #{sentiment},#{campus},#{intention},#{feedback});
    </insert>

    <select id="getInterviewHistory" parameterType="InterviewVO">
        SELECT t.r_idx, q.question, t.interview_date, re.text, re.r_idx , re.q_idx
        FROM Interview_t AS t
        JOIN Interview_re AS re ON t.r_idx = re.r_idx
        JOIN Question_list AS q ON re.q_idx = q.q_idx
        WHERE t.id = #{id} AND re.id = t.id AND active = 1
    </select>

    <select id="getHistoryDetail" parameterType="InterviewVO">
        select q.question, re.text , re.pose_results, re.sentiment,re.video_uuid,re.campus,re.intention,re.feedback,re.q_idx
        from Interview_re AS re
        JOIN Question_list AS q ON re.q_idx = q.q_idx
        where re.id = #{id} AND re.r_idx = #{r_idx}
    </select>

    <delete id="deleteHistory" parameterType="InterviewVO">
        UPDATE Interview_t SET active = 0 WHERE r_idx IN
        <foreach item="item" index="index" collection="r_idxList" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>
    <select id="getRandchoose" resultType="InterviewVO">
        SELECT q_idx,question
        FROM Question_list
        WHERE category = #{category}
        ORDER BY RAND() LIMIT 3
    </select>

    <select id="getPayCount" resultType="int">
        SELECT payCount FROM User_t WHERE id = #{id}
    </select>

    <update id="minusPayCount" parameterType="InterviewVO">
        UPDATE User_t
        SET payCount = payCount - 1
        WHERE id = #{id}
    </update>

    <select id="searchQuestion" resultType="InterviewVO">
        SELECT q_idx, question
        FROM Question_list
        WHERE category = #{category}
        AND question LIKE CONCAT('%', #{search}, '%')
    </select>

    <update id="payUpdate" parameterType="InterviewVO">
        update Toss_t
        set remainCount = remainCount - 1
        where id = #{id} 
        and t_idx = (
            select min(t_idx)
            from Toss_t
            where id = #{id}
        )
    </update>

</mapper>
