<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ict.interviewdotboot.mapper.MypageMapper">
    <select id="getinquiry"  resultType="MyinquiryVO">
        SELECT * FROM Inquiry 
            WHERE id = #{id}
            ORDER BY i_idx DESC;

    </select>
    <select id="getInquiryDetail"  resultType="MyinquiryVO" parameterType="String">
        SELECT * FROM Inquiry WHERE i_idx = #{i_idx};
    </select>
    <insert id="insertinquiry" parameterType="MyinquiryVO">
        INSERT INTO Inquiry (i_subject, i_content, id)
        VALUES (#{i_subject}, #{i_content},#{id})
    </insert>
    <update id="editinquiry" parameterType="MyinquiryVO">
        UPDATE Inquiry
            SET i_subject = #{i_subject},
                i_content = #{i_content}
            WHERE i_idx = #{i_idx};
    </update>
    <update id="deleteinquiry" parameterType="MyinquiryVO">
        UPDATE Inquiry
            SET i_active = 1
            WHERE idx = #{i_idx};
    </update>
    <select id="getprofile"  parameterType="MyuserVO" resultType="MyuserVO">
        SELECT u.*, a.*
            FROM User_t u
            INNER JOIN Add_profile a ON u.u_idx = a.u_idx
            WHERE u.id = #{id};
    </select>
    <update id="editprofile1" parameterType="MyuserVO">
        UPDATE User_t
            SET name = #{name},
                phonenumber = #{phonenumber},
                email = #{email}
            WHERE u_idx = #{u_idx};
    </update>
    <update id="editprofile2" parameterType="MyuserVO">
        UPDATE Add_profile
            SET p_job = #{p_job},
                p_class = #{p_class},
                p_career = #{p_career},
                p_location = #{p_location}
            WHERE u_idx = #{u_idx};
    </update>
    <insert id="addfavorites" parameterType="MyuserVO">
        INSERT INTO Favorites(f_num,id)
        VALUES (#{f_num},#{id})
    </insert>
    <delete id="deletefavorites" parameterType="MyuserVO">
        DELETE FROM Favorites
        WHERE f_num = #{f_num} AND id = #{id}
    </delete>
    <select id="getstar"  parameterType="String" resultType="MyuserVO">
        SELECT f_num FROM Favorites
        WHERE id = #{id};
    </select>
</mapper>
