<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ict.interviewdotboot.mapper.OpenaiMapper">
    <update id="introduceUpdate" parameterType="UserVO">
        update User_t
        set Field = #{Field}
        where id = #{id};
    </update>

    <update id="update1" parameterType="MyuserVO">
        update Add_profile
        set p_job = #{p_job},
            p_class = #{p_class},
            p_career = #{p_career},
            p_location = #{p_location}
        where u_idx = #{u_idx};
    </update>

    <update id="update2" parameterType="MyuserVO">
        update User_t
        set Field = #{Field}
        where u_idx = #{u_idx};
    </update>

    <insert id="insert" parameterType="ResumeVO">
        insert into Resume_t(id, title, contetnt, location, job, classInfo, career)
        values(#{id}, #{title}, #{contetnt}, #{location}, #{job}, #{classInfo}, #{career})
    </insert>

</mapper>
