<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ict.interviewdotboot.mapper.ReportMapper">
    <select id="getReportList" resultType="ReportVO">
        SELECT * FROM Report_t ORDER BY rep_idx
    </select>
    <insert id="insertReport" parameterType="ReportVO">
        INSERT INTO Report_t(u_idx, u2_idx, rep_sysdate, r_idx, rep_active)
        VALUES(#{u_idx}, #{u2_idx}, sysdate(), #{r_idx}, 0)
    </insert>
    <update id="updateReport" parameterType="ReportVO">
        UPDATE Report_t
        SET rep_active = 0
        WHERE rep_idx = #{rep_idx}
    </update>
</mapper>