<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.ict.interviewdotboot.mapper.SuccessMapper">
    <select id="getSuccessList" resultType="SuccessVO">
        SELECT * FROM Success_t ORDER BY s_idx DESC
    </select>    
    <select id="getSuccessDetail" resultType="SuccessVO">
        SELECT * FROM Success_t WHERE s_idx = #{s_idx}
    </select>
    <insert id="insertSuccess" parameterType="SuccessVO">
        INSERT INTO Success_t(s_id, s_title, u_idx, s_content, s_company, s_regdate)
        VALUES(#{s_id}, #{s_title}, #{u_idx}, #{s_content}, #{s_company}, sysdate())
    </insert>
    <update id="updateSuccess" parameterType="SuccessVO">
        UPDATE Success_t
        SET s_content = #{s_content}
        WHERE s_idx = #{s_idx}
    </update>
    <delete id="deleteSuccess" parameterType="SuccessVO">
        UPDATE Success_t
        SET active = #{active}
        WHERE s_idx = #{s_idx}
    </delete>
</mapper>