<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ict.interviewdotboot.mapper.TossMapper">
    <insert id="confirmPayment" parameterType="TossVO">
        INSERT INTO Toss_t(id, orderId, orderName, amount, approvedAt, provider, statusCount, remainCount, payStatus, cancelReason, canceledAt, paymentKey)
        VALUES(#{id}, #{orderId}, #{orderName}, #{totalAmount}, #{approvedAt}, #{provider}, #{statusCount}, #{statusCount}, #{payStatus}, #{cancelReason}, #{canceledAt}, #{paymentKey})
    </insert>
    
    <update id="userPayCount" parameterType="TossVO">
        update User_t set payCount = payCount + #{statusCount} where id=#{id} 
    </update>

    <select id="payCountSelect" parameterType="String" resultType="TossVO">
        select t.statusCount, u.payCount
        from Toss_t as t
        join User_t as u on u.id = t.id
        where u.id=#{id} and t.t_idx=#{t_idx}
    </select>

    <update id="cancelPayment" parameterType="TossVO">
        update Toss_t
        set cancelReason=#{cancelReason}, payStatus= "취소중"
        where t_idx=#{t_idx}
    </update>

    <select id="userPay" parameterType="String" resultType="TossVO">
        select t.*, u.*
        from Toss_t as t
        join User_t as u on u.id = t.id
        where u.id=#{id} and t.id=#{id}
        order by t.t_idx desc
    </select>
</mapper>
