<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.ict.interviewdotboot.mapper.UserMapper">
    <select id="selectUser" resultType="UserVO">
      SELECT * FROM User_t WHERE id = #{id}
    </select>
    <!-- <select id="selectAdmin" resultType="AdminVO">
      SELECT * FROM Admin_t WHERE a_idx = #{a_idx}
    </select> -->
    <select id="getUserList" resultType="UserVO">
      select * from User_t order by u_idx
    </select>
<!-- 
    <select id="getAdminList" resultType="AdminVO">
      select * from Admin_t order by created_at
    </select> -->

    <insert id="createUser" parameterType="com.ict.interviewdotboot.vo.UserVO" >
      INSERT INTO User_t (name, email, birth, id, pw, phonenumber, u_regdate)
      VALUES (#{name}, #{email}, #{birth}, #{id}, #{pw}, #{phonenumber}, sysdate())
  </insert>
  </mapper>